<link rel='stylesheet' href='/stylesheets/sass/studio.css' />



<br>



        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
             <img src="/images/landscapes/ls1.jpg" />
             <p>Painting from imagination</p>
           </div>


        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
             <img src="/images/landscapes/ls2.jpg" />
              <p>Abstract from imagination</p>
           </div>


        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
            <img src="/images/landscapes/ls3.jpg" />
             <p>Painting of old school </p>
          </div>

        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
             <img src="/images/landscapes/ls4.jpg" />
             <p>Banana Plantations</p>
          </div>

        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
          <img src="/images/landscapes/ls5.jpg" />
             <p>Poui tree and benches</p>
          </div>

        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
            <img src="/images/landscapes/ls6.jpg" />
             <p>Poui Tree</p>
          </div>

          <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
               <img src="/images/landscapes/ls7.jpg" />
               <p>Early flower painting</p>
            </div>

          <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
            <img src="/images/landscapes/ls8.jpg" />
               <p>Old house painting</p>
            </div>

          <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
              <img src="/images/landscapes/ls9.jpg" />
               <p>Painting from imagination</p>
            </div>


<br>

<div id="backToHome">
    <nav class="homePageClass">
        <a href="{{typePage}}">Back</a>
    </nav>
</div>
