<body>
      <h1>Arrange the images </h1>
      <br>
      <br>
      <p>Arrange the blocks to form the original image.
        Click a first block and then a second block. The second block is where the first block will be moved.
        If you are having trouble, click this <a href="{{link}}">link</a> to view the original image or leave
        a comment about the game. Once you view
        the image, the puzzle will be RESET.
      </p>
      <br>
      <br>
      <div id = "game">
         <canvas id="birdCanvas" width="640" height="480" onclick="onCanvasClick(event);"> </canvas>
      </div>
      <br>
      <br>


      <div id="backToHome">
          <nav class="homePageClass">
              <a href="{{homePage}}">Back to Home</a>
          </nav>
      </div>


<link rel='stylesheet' href='/stylesheets/sass/game.css' />
<script src="/javascripts/javas.js"></script>


</body>
