<link rel='stylesheet' href='/stylesheets/home.css' />
<body>


    <h1>AIT artsite</h1>
    <br>
    <br>
    <br>
    <h2>


          <a href="{{galleryPage}}">Book Art Studio</a>
            <a href="{{typeOfArt}}">Painting Gallery</a>
          <a href="{{bid}}">Play Game</a>

  </h2>
  <br>
  <br>


<div class="fadeIn fadeIn-3s fadeIn-Delay-3s grow" >
    <img src="/images/birds/bird4.jpg" />
</div>

</body>
