<link rel='stylesheet' href='/stylesheets/login.css' />

<div id="grad1">

<h1>AIT ArtSite</h1>
<h2>Login</h2>
<h3>{{message}}</h3>
<br>
<br>



<form method="POST" action="">
		Email or username  <input name="username" type="text" placeholder="username@gmail.com">
		<br>
		<br>
		Password <input name="password" type="password" placeholder="password">
		<br>
		<br>
		<input type="submit" value="Sign in">
</form>





<br>
<br>

<p>
Don't have an account? <a href="{{register}}">Click here to create account</a>
</p>
</div>
