<link rel='stylesheet' href='/stylesheets/sass/studio.css' />


<br>



        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
             <img src="/images/birds/bird1.jpg" />
             <p>Picture of a Bananaquit</p>
           </div>


        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
             <img src="/images/birds/bird2.jpg" />
              <p>Painting of a Green Tanager </p>
           </div>


        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
            <img src="/images/birds/bird3.jpg" />
             <p>Keskidee sitting on a tree </p>
          </div>

        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
             <img src="/images/birds/bird4.jpg" />
             <p> Blue and Yellow Tanager eating Pappya</p>
          </div>

          <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
               <img src="/images/birds/bird5.jpg" />
               <p>Parrot sitting on tree</p>
            </div>

<br>

<div id="backToHome">
    <nav class="homePageClass">
        <a href="{{typePage}}">Back</a>
    </nav>
</div>
