<link rel='stylesheet' href='/stylesheets/login.css' />
<h2>Register</h2>
<br>
{{message}}
<br>
<form method="POST" action="">
		Username: <input name="username" type="text">
		<br>
		<br>
		Password: <input name="password" type="password">
		<br>
		<br>
		<input type="submit" value="Register">
</form>
<br>

<p>
 <a href="{{backToLogin}}">Back to Login</a>
</p>
