<link rel='stylesheet' href='/stylesheets/sass/studio.css' />



<br>

<div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
     <img src="/images/progressive/pro1.png" />
     <p>Stages of painting</p>
   </div>


<div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
     <img src="/images/progressive/pro2.png" />
      <p>Stages of painting</p>
   </div>


<div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
    <img src="/images/progressive/pro3.png" />
     <p>Stages of painting </p>
  </div>

<div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
     <img src="/images/progressive/pro4.png" />
     <p>Stages of painting</p>
  </div>

<div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
  <img src="/images/progressive/pro5.png" />
     <p>Stages of painting</p>
  </div>

<div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
    <img src="/images/progressive/pro6.png" />
     <p>Stages of painting</p>
  </div>

  <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
       <img src="/images/progressive/pro7.png" />
       <p>Stages of painting</p>
    </div>

  <div class="fadeIn fadeIn-3s fadeIn-Delay-3s blur pic column grow" >
    <img src="/images/progressive/pro8.png" />
       <p>Stages of painting</p>
    </div>

<br>

<div id="backToHome">
    <nav class="homePageClass">
        <a href="{{typePage}}">Back</a>
    </nav>
</div>
