$font-stack:    Helvetica, sans-serif;
$greyish: #333;
$darkGrey: #555;


body {
  font: 100% $font-stack;
  color: $greyish;
  background-color: $darkGrey;

h1{
    color: white;
    font-weight: 800;
    line-height: 72px;

    text-align: center;
    margin:0 auto;
    width:100%;
    height:80px;
    font-size: 45px;
}

#bookingLink{
    text-decoration: none;
      color: white;
      text-align: center;
       width: 30%;
         background-color: $greyish;
       padding: 20px;
       margin: 0 auto;
       font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
       font-style: italic;
       font-size: 35px;

       a:link {
         text-decoration: none;
           color: white;
           text-align: center;

       }

       a:visited {
           color: white;
       }

       /* mouse over link */
       a:hover {
         text-decoration: underline;
           color: yellow;
       }

       /* selected link */
       a:active {
           color: blue;
       }
  }

}

#exhibitions{

  font-family: 'Rouge Script', cursive; font-size: 30px;
  a:link {
    text-decoration: none;
      color: white;
      text-align: center;

  }

  a:visited {
      color: white;
  }

  /* mouse over link */
  a:hover {
    text-decoration: underline;
      color: yellow;
  }

  /* selected link */
  a:active {
      color: blue;
  }
}

//link with flip style
#HomePage{

    nav a {
        position: relative;
        display: inline-block;
        margin: 55px 25px;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1.35em;
    }

    nav a:hover,
    nav a:focus {
        outline: none;
    }

    .homepage a {
        line-height: 2em;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        perspective: 800px;
    }

    .homepage a span {
        position: relative;
        display: inline-block;
        padding: 3px 15px 0;
        background: $greyish;
        box-shadow: inset 0 3px #2f4351;
        -webkit-transition: background 0.6s;
        -moz-transition: background 0.6s;
        transition: background 0.6s;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 50%;
        -moz-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }

    .homepage a span::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        color: #2f4351;
        content: attr(data-hover);
        -webkit-transform: rotateX(270deg);
        -moz-transform: rotateX(270deg);
        transform: rotateX(270deg);
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        transform-origin: 0 0;
        pointer-events: none;
    }

    .homepage a:hover span,
    .homepage a:focus span {
        background: #2f4351;
    }

    .homepage a:hover span::before,
    .homepage a:focus span::before {
        -webkit-transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        transform: rotateX(10deg);
    }

}

//link for back to homepage
#backToHome{
    text-align: center;
      nav a {
          position: relative;
          display: inline-block;
          margin: 12px 20px;
          outline: none;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 400;
          text-shadow: 0 0 1px rgba(255,255,255,0.3);
          font-size: 16px;

      }

      nav a:hover,
      nav a:focus {
          outline: none;
      }

      .homePageClass a {
          padding: 0 20px;
          height: 45px;
          line-height: 45px;
      }

      .homePageClass a::before,
      .homePageClass a::after {
          position: absolute;
          width: 45px;
          height: 2px;
          background: #fff;
          content: '';
          opacity: 0.2;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          pointer-events: none;
      }

      .homePageClass a::before {
          top: 0;
          left: 0;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transform-origin: 0 0;
          -moz-transform-origin: 0 0;
          transform-origin: 0 0;
      }

      .homePageClass a::after {
          right: 0;
          bottom: 0;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transform-origin: 100% 0;
          -moz-transform-origin: 100% 0;
          transform-origin: 100% 0;
      }

      .homePageClass a:hover::before,
      .homePageClass a:hover::after,
      .homePageClass a:focus::before,
      .homePageClass a:focus::after {
          opacity: 1;
      }

      .homePageClass a:hover::before,
      .homePageClass a:focus::before {
          left: 50%;
          -webkit-transform: rotate(0deg) translateX(-50%);
          -moz-transform: rotate(0deg) translateX(-50%);
          transform: rotate(0deg) translateX(-50%);
      }

      .homePageClass a:hover::after,
      .homePageClass a:focus::after {
          right: 50%;
          -webkit-transform: rotate(0deg) translateX(50%);
          -moz-transform: rotate(0deg) translateX(50%);
          transform: rotate(0deg) translateX(50%);
      }

}

label{

    position:relative;
    width:200px;
    margin:20px;
    padding:5px;
    font-family:AR CENA;
    font-size:30px;
    color: white;
    display: inline-block;


}

input {
  width:250px;
	height:30px;
	border-radius:5px;

	margin-left:2px;
  padding:4px;
  position:relative;
}
