body {
  margin: 0;
	padding: 50px;
	background:#181818 ;
	right: 0;
	left: 0;
	color: #bfe6fe;
	text-shadow: #122944 0 2px 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


div{margin:0 auto;
  width:640px;
  height:480px;
  border: 4px solid yellow;
 }
 h1{
   color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800;
    line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
 }

 img{
   height: 500px;
   width: 600px;
   padding:10px;
   border:1px solid #262626;
   background-color:black;
   display:block;
   margin:auto;
 }
